* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    -moz-user-select: none;
    user-select: none;
}

/*#region Legacy UI*/

.ctrl-block * {
    background-color: #2F2F2F;
    color: #CFCFCF;
    border: 2px solid #CFCFCF;
    margin-bottom: 2px;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.ctrl-block button:hover, #ctrl-create button:hover {
    color: #CF7F2F;
    border-color: #CF7F2F;
}

.ctrl-block button:active, #ctrl-create button:active {
    color: #7FCF2F;
    border-color: #7FCF2F;
}

.ctrl-block .active, #ctrl-create .active, .ctrl-block .active:hover, #ctrl-create .active:hover {
    border-color: #7FCF2F;
    color: #7FCF2F;
}

.size-unstable {
    color: #CF2F2F;
}
.size-warning {
    color: #CFCF2F;
}
.size-developer {
    color: #2FCF2F;
}

/*#endregion*/

/*#region OVERLAY POPUPS*/

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000AF;
    z-index: 5;
}
/*#endregion*/

/*#region More Legacy UI*/

#ctrls {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 5px;
    background-color: #2F2F2F7F;
    overflow: hidden auto;
}

#ctrl-create * {
    box-sizing: border-box;
    width: 48%;
}

.ctrl-block {
    margin-top: 5%;
}

.ctrl-block * {
    width: 100%;
}

.ctrl-slider {
    border: 2px solid black;
    padding: 5px;
}

.ctrl-slider input[type="range"] {
    display: inline-block;
    width: 70%;
}

.ctrl-slider input[type="number"] {
    display: inline-block;
    width: 30%;
    background: #CFCFCF7F;
    border: none;
}

#data {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 200px;
    width: 200px;
    height: 100%;
    padding: 5px;
    background-color: #0F0F0F7F;
    overflow: hidden auto;
    color: #ffffff;
    white-space: pre;
    display: none;
}

/*#endregion*/

/*#region Editor Window*/

#cont {
    box-sizing: border-box;
    position: relative;
    width: calc(100vw - 400px);
    height: 100vh;
    padding: 10px;
    overflow: auto;
    background-color: #0F0F0F;
}

.cell {
    --cellSize: 30px;
    --borderSize: 2px;

    position: absolute;
    width: var(--cellSize);
    height: var(--cellSize);
    line-height: calc(var(--cellSize) - var(--borderSize));
    text-align: center;
    /* font-size: 2em; */
    font-weight: bolder;
    cursor: pointer;
    overflow: visible;
    z-index: 2;
    background-color: #7F7F7F;
    pointer-events: all;
    border: var(--borderSize) solid #2F2F2F;
}

.cell-active {
    background-color: #7FCF2F !important;
    border-color: #50A000 !important;
}

/*#endregion*/