* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

/*#region Legacy UI*/

.ctrl-block button, #ctrl-create * {
    background-color: #333333;
    color: #dddddd;
    border: 2px solid #dddddd;
    margin-bottom: 2px;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.ctrl-block button:hover, #ctrl-create button:hover {
    color: #dd8833;
    border-color: #dd8833;
}

.ctrl-block button:active, #ctrl-create button:active {
    color: #88dd33;
    border-color: #88dd33;
}

/*#endregion*/

/*#region OVERLAY*/

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000AF;
    z-index: 5;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog {
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.ui-dialog-titlebar {
    --objHeight: 100px;
    --bdrWidth: 2px;
    color: #fff;
    width: 100%;
    height: var(--objHeight);
    line-height: calc(var(--objHeight) - 2 * var(--bdrWidth));
    text-align: center;
    font-family: serif;
    font-size: 3em;
    background-color: #883333CF;
    border: var(--bdrWidth) solid #DDDDDD;
}

.ui-dialog-content {
    width: 100%;
    text-align: left;
    background-color: #333333CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    padding-top: 10px;
    border-left: 2px outset #333333CF;
    border-right: 2px outset #333333CF;
}

.ui-dialog-buttonpane {
    width: 100%;
    height: 120px;
    background-color: #333333CF;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden auto;
    border-left: 2px outset #333333CF;
    border-bottom: 2px outset #333333CF;
    border-right: 2px outset #333333CF;
}

.ui-dialog-buttonset {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ui-dialog-confirm .ui-dialog-buttonpane {
    height: initial;
}

.ui-dialog-confirm .ui-dialog-buttonset {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 5px;
    margin-bottom: 15px;
}

.ui-dialog-confirm .ui-dialog-button {
    min-width: initial;
    max-width: initial;
    width: 40%;
}

.ui-dialog-button {
    font-weight: bold;
    color: #FFFFFF;
    min-width: 200px;
    max-width: 400px;
    width: 80%;
    height: 40px;
    line-height: 36px;
    border: 2px outset #444444CF;
    background-color: #444444CF;
    text-align: center;
}

.ui-dialog-button:hover {
    font-weight: bolder;
    box-shadow: -1px -1px 5px #fff, 1px -1px 5px #fff, -1px 1px 5px #fff, 1px 1px 5px #fff;
    text-shadow: 1px 1px 1px #000;
}

.ui-dialog-button:active {
    color: red;
}

.ui-dialog-button.disabled {
    border: 2px outset #444444CF;
    background-color: #444444CF;
    color: #BBBBBB;
    box-shadow: none;
    font-weight: bold;
    text-shadow: none;
}

.ui-dialog-content .saves-wrap {
    height: 300px;
    width: 500px;
}

.ui-dialog-content table {
    width: 100%;
    overflow: hidden auto;
}

.saves-wrap>table tr {
    width: 100%;
    height: 30px;
    background-color: #550000;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-align: left;
}

.saves-wrap th:hover {
    background-color: #FFFFFF7F;
}

.ui-dialog-content tr *:first-child {
    width: 300px;
}

.ui-dialog-content .saves-row {
    background-color: #772222;
    height: 30px;
}

.ui-dialog-content .saves-row:nth-child(2n) {
    background-color: #550000;
}

.saves-row:hover td {
    background-color: #FFFFFF3F;
}

.ui-dialog-content td {
    line-height: 30px;
    color: #FFFFFF;
    padding-left: 5px;
}

.ui-dialog-content th {
    line-height: 30px;
    padding-left: 5px;
}

.saves-cont {
    height: 266px;
    overflow: hidden scroll;
    border: 2px solid #FFFFFF;
    border-top: none;
}





#window {
    max-height: 800px;
    width: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
}

#window #header {
    --objHeight: 100px;
    --bdrWidth: 2px;
    color: #fff;
    width: 100%;
    height: var(--objHeight);
    line-height: calc(var(--objHeight) - 2 * var(--bdrWidth));
    text-align: center;
    font-family: serif;
    font-size: 3em;
    background-color: #883333CF;
    border: var(--bdrWidth) solid #DDDDDD;
}

.win-list {
    width: 100%;
    background-color: #333333CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden auto;
    font-weight: bold;
    color: #fff;
    font-size: 2em;
}

.win-dialog {
    width: 100%;
    background-color: #333333CF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden auto;
}

#win-footer {
    width: 100%;
    height: 100px;
    background-color: #333333CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden auto;
}

.window-button {
    font-weight: bold;
    color: #fff;
    width: 80%;
    height: 50px;
    line-height: 50px;
    border: 2px outset #444444CF;
    background-color: #444444CF;
    text-align: center;
    font-size: initial;
}

.win-dialog .window-button {
    width: 200px;
}

.window-button:hover {
    font-weight: bolder;
    box-shadow: -1px -1px 5px #fff, 1px -1px 5px #fff, -1px 1px 5px #fff, 1px 1px 5px #fff;
    text-shadow: 1px 1px 1px #000;
}

.window-button:active {
    color: red;
}

/*#endregion*/

/*#region More Legacy UI*/

#ctrls {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    padding: 5px;
    background-color: #33333388;
}

#ctrl-create * {
    width: 45%;
}

.ctrl-block {
    margin-top: 5%;
}

.ctrl-block * {
    width: 100%;
}

.ctrl-slider {
    border: 2px solid black;
    padding: 5px;
}

.ctrl-slider input[type="range"] {
    display: inline-block;
    width: 70%;
}

.ctrl-slider input[type="number"] {
    display: inline-block;
    width: 30%;
    background: #dddddd7F;
    border: none;
}

#data {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 200px;
    width: 200px;
    height: 100%;
    padding: 5px;
    background-color: #11111188;
    overflow: hidden auto;
    color: #ffffff;
    white-space: pre;
}

/*#endregion*/

/*#region Editor Window*/

#cont {
    box-sizing: border-box;
    position: relative;
    width: calc(100vw - 400px);
    height: 100vh;
    padding: 50px;
    overflow: auto;
    background-color: #111111;
}

.cell {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    cursor: pointer;
    overflow: visible;
    z-index: 2;
    background-color: #888888;
    pointer-events: all;
    border: 2px solid #333333;
}

.cell:hover {
    background-color: #88dd33 !important;
    border-color: #55aa00 !important;
}

.active, .active:hover {
    border-color: #88dd33;
    color: #88dd33;
}

/*#endregion*/