* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
}

body {
    overflow: hidden;
}

#game {
    width: 100vw;
    height: 100vh;
}

/* #region OVERLAY */

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#overlay * {
    pointer-events: all;
}

#debug {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#debug * {
    pointer-events: all;
}

#scroll-trigger {
    position: absolute;
    top: 0;
    left: 0;
    height: 2000px;
    width: 100vw;
    z-index: 30;
    overflow: auto;
}

/* #endregion */

/* #region DEBUG */

.trigger {
    position: absolute;
    text-align: center;
    font-weight: 900;
    font-size: 1em;
    line-height: 20px;
}

#trig-cam-moveleft {
    top: 0;
    left: 0;
    width: 20px;
    height: 100vh;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #FFFFFF;
    background-color: #CF2F2F7F;
    transform: rotate(180deg)
}

#trig-cam-moveright {
    top: 0;
    right: 0;
    width: 20px;
    height: 100vh;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #FFFFFF;
    background-color: #CF2F2F7F;
}

#trig-cam-moveup {
    top: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    color: #FFFFFF;
    background-color: #2FCF2F7F;
}

#trig-cam-movedown {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    color: #FFFFFF;
    background-color: #2FCF2F7F;
}

#debug-log {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 610px;
    max-width: 610px;
    height: 330px;
    max-height: 330px;
    overflow: hidden auto;
    background-color: #0000007F;
}

/* #endregion */

#loading-info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
}