* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
}

body {
    overflow: hidden;
}

#game {
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    background-color: #000000;
    pointer-events: all;
}

#loading-info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 4em;
}

/* #region OVERLAY */

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000AF;
    z-index: 5;
}

#help-spawnEnd {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 15;
    border: 2px solid #FFFF00;
    animation-name: help-spawnEnd;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes help-spawnEnd {
    from {
        box-shadow: -1px -1px 8px #FFFF00, 1px -1px 8px #FFFF00, -1px 1px 8px #FFFF00, 1px 1px 8px #FFFF00;
    }
    to {
        box-shadow: -1px -1px 2px #FFFF00, 1px -1px 2px #FFFF00, -1px 1px 2px #FFFF00, 1px 1px 2px #FFFF00;
    }
}

#overlay * {
    pointer-events: all;
}

#debug {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#debug * {
    pointer-events: all;
}

#scroll-trigger {
    position: absolute;
    top: 0;
    left: 0;
    height: 2000px;
    width: 100vw;
    z-index: 30;
    overflow: auto;
}

/* #endregion */

/* #region DEBUG */

.trigger {
    position: absolute;
    text-align: center;
    font-weight: 900;
    font-size: 1em;
    line-height: 20px;
}

#trig-cam-moveleft {
    top: 0;
    left: 0;
    width: 20px;
    height: 100vh;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #FFFFFF;
    background-color: #CF2F2F7F;
    transform: rotate(180deg)
}

#trig-cam-moveright {
    top: 0;
    right: 0;
    width: 20px;
    height: 100vh;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #FFFFFF;
    background-color: #CF2F2F7F;
}

#trig-cam-moveup {
    top: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    color: #FFFFFF;
    background-color: #2FCF2F7F;
}

#trig-cam-movedown {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    color: #FFFFFF;
    background-color: #2FCF2F7F;
}

#debug-log {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 610px;
    max-width: 610px;
    height: 330px;
    max-height: 330px;
    overflow: hidden auto;
    background-color: #0000007F;
    font-family: monospace;
    padding: 5px;
}

#debug-log p {
    color: #DFDF7F;
}

#debug-fps {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 610px;
    max-width: 610px;
    height: 330px;
    max-height: 330px;
    overflow: hidden auto;
    background-color: #0000007F;
}

/* #endregion */

/* #region UI Containers */

#ui {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#ui>* {
    pointer-events: all;
}

#ui-bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 800px;
    height: 330px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    /* background-color: #0000007F; */
}

#ui-top-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
}

/* #endregion */

/* #region UI BOTTOM PANEL */

#ui-bottom-panel {
    height: 300px;
    width: 1024px;
    background-color: transparent;
    color: #2F7F2F;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

#ui-minimap {
    width: 300px;
    height: 300px;
    border: 5px outset #9F9F4F;
    padding: 5px;
    background-color: #8F8F3F;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#minimap-canvas {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 5px inset #7F7F2F;
}

#minimap-camera {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: transparent;
    border: 5px inset #7F7F2F;
    position: absolute;
    left: 5px;
    top: 5px;
}

#minimap-units {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: transparent;
    border: 5px inset #7F7F2F;
    position: absolute;
    left: 5px;
    top: 5px;
}

#ui-main {
    height: 200px;
    width: 500px;
    /* border: 2px outset #9F4F4F;
    border-left: none;
    border-bottom: none; */
    /* padding: 2px;
    padding-left: 0;
    padding-bottom: 0; */
    /* background-color: #8F3F3F; */
    display: flex;
    flex-direction: column;
}

#ui-build-cats {
    /* border: 2px inset #7F2F2F; */
    position: relative;
    border-left: none;
    border-bottom: none;
    height: 40px;
    width: 100%;
    background-color: transparent;
    font-size: initial;
    line-height: initial;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.ui-build-cat {
    width: 100px;
    height: 40px;
    line-height: 36px;
    border: 2px outset #BFBFBF;
    background-color: #2F2F2F;
    border-radius: 10px 10px 0 0;
    color: #CFCFCF;
}

.ui-build-cat.selected, .ui-build-cat.selected:hover {
    background-color: #3F3F3F;
    color: #DFDFDF;
    border-color: #CFCFCF;
    border-bottom: none;
}

.ui-build-cat:hover {
    color: #CFCF2F;
    border-color: #BFBF2F;
    border-bottom-color: #BFBFBF;
}

.ui-build-cat.disabled, .ui-build-cat.disabled:hover {
    background-color: #2F2F2F;
    color: #AFAFAF;
    border-color: #CFCFCF;
}

#ui-build-tabs {
    border: 2px outset #CFCFCF;
    border-top: none;
    height: 160px;
    line-height: 158px;
    width: 100%;
    background-color: #3F3F3F;
}

#ui-units-cont {
    width: 574px;
    height: 200px;
    background-color: #2FCFCF;
}

/* #endregion */

/* #region UI TOP LEFT PANNEL */

#ui-top-left-panel {
    height: 300px;
    width: 512px;
    /* background-color: #7F2F2F7F; */
    color: #2F7F2F;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#ui-chat-open {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
    /* margin-left: 10px; */
    width: 512px;
    height: 300px;
    line-height: 20px;
    background-color: #2F2F2F4F;
    color: #DFDFDF4F;
    transition: color 0.1s linear, background-color 0.1s linear;
}

#socket-chat-display {
    width: 512px;
    height: 270px;
    overflow-x: visible;
    overflow-y: scroll;
    color: #2FCF2F;
    text-shadow: 2px 0px 1px #000000;
    text-align: left;
    padding: 0 5px;
    font-size: 20px;
    word-wrap: break-word;
}

#socket-chat-input {
    position: relative;
    bottom: 4px;
    width: 100%;
    height: 30px;
    padding: 0 5px;
    font-size: 20px;
    caret-color: #2F7F2F;
    background-color: #2222227F;
    color: #DFDFDF;
    font-weight: bolder;
    border: none;
}

#ui-chat-open:hover {
    background-color: #2F2F2FDF;
    color: #DFDFDFDF;
}

/* #endregion */

/* #region UI TOP RIGHT PANNEL */

#ui-top-right-panel {
    position: relative;
    height: 300px;
    width: 512px;
    font-size: 3em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#ui-top-buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 150px;
    border: 2px outset #BFBFBF;
    background-color: #2F2F2F;
    border-radius: 0 0 0 10px;
    color: #CFCFCF;
    border-top: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#ui-top-buttons-container button {
    width: 100px;
    height: 50px;
    background-color: #4F4F4F;
    color: #DFDFDF;
    font-size: initial;
}

#ui-top-buttons-container button:hover {
    background-color: #6F6F6F;
    color: #DFDF2F;
    font-size: initial;
}

#ui-top-buttons-container button:disabled {
    background-color: #3F3F3F;
    color: #9F9F9F;
    font-size: initial;
    border: 2px solid #9F9F9F;
}

#ui-top-selected-unit {
    position: absolute;
    top: 0;
    right: 350px;
    width: 200px;
    height: 60px;
    line-height: 58px;
    border: 2px outset #BFBFBF;
    border-top: none;
    border-right: none;
    background-color: #3F3F3F;
    border-radius: 0 0 0 10px;
    color: #CFCFCF;
    font-size: initial;
    text-align: center;
}

#ui-top-turn-status {
    position: absolute;
    top: 0;
    right: 150px;
    width: 200px;
    height: 60px;
    line-height: 58px;
    border: 2px outset #BFBFBF;
    border-top: none;
    border-right: none;
    background-color: #3F3F3F;
    color: #CFCFCF;
    font-size: initial;
    text-align: center;
}

/* #endregion */

/* #region placeholder UI*/

#ui-spawn-controls {
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ui-spawn-controls-container {
    cursor: pointer;
    width: 100px;
    height: 120px;
    line-height: initial;
    font-size: initial;
    color: #DFDFDF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ui-spawn-controls-container * {
    pointer-events: none;
}

.ui-spawn-controls-container img {
    max-width: 80px;
    max-height: 80px;
}

.ui-spawn-controls-container p {
    line-height: 20px;
    height: 20px;
}

.ui-spawn-controls-container-active {
    background: #CF2F2F7F;
}

.ui-spawn-controls-container:hover {
    background: #2FCFCF7F;
}

.ui-spawn-controls-container-active:hover {
    background: #CF2F2F7F;
}

.ui-spawn-controls-container-empty img {
    opacity: 0.5;
}

.ui-spawn-controls-container-empty:hover {
    background-color: transparent;
    cursor: default;
}

.ui-placeholder-cat {
    position: absolute;
    width: 300px;
    height: 0;
    border-bottom: 2px solid #AFAFAF;
    bottom: 0;
    right: 0;
}

/*#endregion placeholder UI*/