* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
}

/* #region OVERLAY */

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000AF;
    z-index: 5;
}

/* #endregion */

/* #region WINDOW LAYOUT */

#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lobby-window {
    position: relative;
    width: 1024px;
    height: 768px;
    display: flex;
    flex-direction: column;
}

#lobby-content {
    position: relative;
    background-color: #0000007F;
    border: 5px outset #000000;
    flex: 1;
}

#region-players {
    position: absolute;
    width: 634px;
    height: 200px;
    left: 20px;
    top: 20px;
    box-sizing: content-box;
    border: 5px outset #883333;
}

#socket-players {
    width: 100%;
    height: 100%;
    background-color: #0000007F;
    border: 5px inset #0000007F;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.room-member {
    box-sizing: border-box;
    width: 500px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-member-name {
    box-sizing: border-box;
    width: 100px;
    text-align: left;
}

.room-member-ready {
    box-sizing: border-box;
    width: 100px;
    text-align: center;
}

.room-member-kick {
    box-sizing: border-box;
    width: 50px;
    height: 20px;
    line-height: 12px;
    background-color: #7F7F7FCF;
    border: 3px outset #7F7F7FCF;
    text-align: center;
    color: #DDDDDD;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000;
    margin-left: 50px;
}

.room-member-kick:hover {
    box-shadow: -1px -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff, 1px 1px 2px #fff;
    text-shadow: 1px 1px 1px #000;
}

.room-member-kick:active {
    border-style: inset;
}

.room-member-kick:disabled {
    border: 3px outset #7F7F7FCF;
    background-color: #7F7F7FCF;
    color: #BBBBBB;
    box-shadow: none;
    font-weight: bold;
    text-shadow: none;
}

#region-minimap {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #00FFFF;
    right: 20px;
    top: 20px;
    box-sizing: content-box;
    border: 5px outset #883333;
}

#region-settings {
    position: absolute;
    width: 634px;
    height: 200px;
    left: 20px;
    top: 250px;
    box-sizing: content-box;
    background-color: #0000007F;
    border: 5px outset #883333;
}

#region-chat {
    position: absolute;
    width: 634px;
    height: 150px;
    left: 20px;
    bottom: 120px;
    box-sizing: content-box;
    background-color: #0000007F;
    border: 5px outset #883333;
    display: flex;
    flex-direction: column;
}

#socket-chat-display {
    width: 100%;
    height: 80%;
    overflow: hidden scroll;
    flex: 1;
    padding: 5px;
    color: #DD8833;
    text-shadow: 2px 0px 1px #000000;
}

#socket-chat-input {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 5px;
    caret-color: #338833;
    background-color: #2222227F;
    color: #DDDDDD;
    font-weight: bolder;
    border: none;
}

#region-maplist {
    position: absolute;
    width: 300px;
    height: 280px;
    right: 20px;
    bottom: 120px;
    box-sizing: content-box;
    background-color: #0000007F;
    border: 5px outset #883333;
    font-size: 20px;
}

.map_list_active:hover {
    background: #ff0000aa;
    cursor: pointer;
}

.activeMap {
    background: #ff0000aa;
}

#region-buttons {
    position: absolute;
    width: 974px;
    height: 90px;
    right: 20px;
    bottom: 20px;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.lobby-button {
    box-sizing: border-box;
    width: 200px;
    height: 75px;
    background-color: #7F7F7FCF;
    border: 5px outset #7F7F7FCF;
    color: #DDDDDD;
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #000;
}

.lobby-button:hover {
    font-weight: bolder;
    box-shadow: -1px -1px 5px #fff, 1px -1px 5px #fff, -1px 1px 5px #fff, 1px 1px 5px #fff;
    text-shadow: 1px 1px 1px #000;
}

.lobby-button:active {
    border-style: inset;
}

.lobby-button:disabled {
    border: 5px outset #7F7F7FCF;
    background-color: #7F7F7FCF;
    color: #BBBBBB;
    box-shadow: none;
    font-weight: bold;
    text-shadow: none;
}

.lobby-button-placeholder {
    box-sizing: border-box;
    width: 200px;
    height: 75px;
    background-color: transparent;
    border: 5px outset transparent;
    color: transparent;
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px transparent;
}

/* #endregion */

/* #region BACKGROUND */

#background {
    background-image: url("https://yurination.files.wordpress.com/2013/08/planeptune.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* #endregion */

/* #region LOBBY INFO */

#room-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* #endregion */

/* #region Placeholders */

.map-placeholder {
    background-image: url(https://i.kym-cdn.com/entries/icons/original/000/017/280/e29.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.text-placeholder {
    color: #33DD33;
    font-size: 3em;
    text-align: center;
}

/* #endregion */